@page "/Сatalog"

@inject ICatalog Catalog
@inject IToastService ToastService;

<PageTitle>Товары</PageTitle>

<h3>Список товаров</h3>

@foreach (var product in Catalog.GetProducts())
{
    <div>
        <b>@product.Name (цена: @product.Price)</b>
        <button class="btn btn-outline-primary"
                @onclick="@(() => AddProductToCart(product))">
            Купить
        </button>
    </div>
}

@code
{
    private void AddProductToCart(Product product)
    {
        Cart.AddToCart(product);
        ToastService.ShowSuccess(
            $"Добавляем в корзину товар {product.Name}");
    }
}